@use "sass:color";

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$appPadding: 1rem;

html{
    margin: 5vw;
    font-family: 'Roboto', sans-serif;
    background-color: pink;
}

.stepsPick {
    background-color: blue;
    .stepsText {
        background-color: red;
    }
}
