.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
  
    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

body, html{
    margin: 0;
}

.area{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    padding: 0;
    
    &__Icon{
        margin-right: 1rem;
    }
    &__Text{
        font-weight: 450;
    }
}

.explore{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem 3rem 3rem 3rem;
    background-color: rgb(248, 248, 248);
    &__Title{
        margin: 0;
    }
    &__Subtitle{
        margin-top: 1rem;
        margin-bottom: 3rem;
        font-weight: 350;
    }
    &__Button{
        @include button(primary);
    }
}

.steps{
    display: flex;
    padding: 0rem;

    &__Title{
     margin-top: 0;   
    }
    &__Picks{
        padding: 0;
        margin: 0;
        list-style: none;
        cursor: pointer;
    }
    &__Pick{
        display: flex;
        align-items: center;
        width: 75%;
        padding: 2rem;
        margin: 1rem 5rem 1rem 0.7rem;
        box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.130);
        border-radius: 1.3rem;
        background-color: #f1f1f1;
    }
    &__Pick:hover{
        background-color: rgba($color: #9356DC, $alpha: 0.2);
        .steps__Icon{
            color: #9356DC;
        }
        }
        
        
    &__Icon{
        margin-right: 1rem;
    }
    
    &__digit{
        background: $color-primary;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      position: absolute;
      left: -0.000005rem;
    }
}

.restaurants{
    background-color: #f1f1f1;
    padding: 2rem;
}

.cards{
    display: flex;
    flex-direction: column;
}


.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    position: relative;
    margin-top: 1rem;

    &:first-child{
        margin-top: 0;
    }

    &__Img{
        width: 100%;
        height: 10rem;
        object-fit: cover;
        border: transparent solid 0px;
        border-radius: 1rem 1rem 0 0;
    }

    &__New{
        background-color: $color-tertiary;
        color: darken($color-tertiary, 35%);
        border-radius: 0.1rem;
        font-weight: bold;
        padding: 0.45rem;
        top: 1rem;
        right: 1rem;
        position: absolute;
    }

    &__Main{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__Content{
        padding: 0rem 1rem 1rem 1rem;
    }

    &__Title{
    margin-bottom: 0;
    }
    &__Subtitle{
    margin-top: 0;
    }
    &__Button {
        height: 2rem;
        width: 2rem;
        border: transparent 0px solid;
        padding: 0;
        display:flex;
        align-items:center;
        justify-content:center;
        margin-right: 1rem;
    }
        &__Heart{ 
            background-color: white!important;
    }
    }
    